body {
  font: normal 30px Verdana, Arial, sans-serif;
  background: #ffffff;
  background: #ffffff;
  margin: 0;
  padding: 5
  color #000000;
}

.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}

body {
  background: linear-gradient(130deg, #2C2C81 0%, #6D6C87 100%);
  text-align: center;  
     background-position: 100% -10%;
     background-repeat: no-repeat;
     background-size: cover;
}

/* Title Bar */
.navbar {
  overflow: hidden;
    z-index: 1;
  background: rgba(4, 3, 39, 0.1);
  box-shadow: inset 0px 0px 0px 0.5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0; 
  width: 100%; 
  background-blend-mode: soft-light, normal;
}

.navbar a {
  float: center;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity: 5;
  font-size: 25px;
}

.main {
  margin-top: 31px;
}

.main {
  margin-top: 5px;
}


style > h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
  color: white; 
  font-size: 25px;
}
p {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

div {
  text-align: left;
  margin: 0;
  padding: 0;
}
style>


body {
    margin: 0 0 55px 0;
}

/* Bottom Navigation Bar */
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 95px rgb(0, 140, 255);
    background-color: #00CCCC;
    display: flex;
    overflow-x: auto;
    backdrop-filter: blur(40px);

}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.6s ease-in-out;
}

.nav__link:hover {
    background-color: #008585;
}

.nav__link--active {
    color: #000000;
    background-color: #00CCCC;
}

.nav__icon {
    font-size: 18px;
}


.DefaultButton {
background: linear-gradient(95.54deg, #FFFFFF -1.5%, #88AFFA 93.51%);
box-shadow: 0px 0px 39px #FFFFFF;
border-radius: 20px;
  background-color: #E7EBF0;   
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: sans-serif;
  font-size: 19px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  background-blend-mode: soft-light, normal;
   transition: all 0.40s;

}
.DefaultButton:hover {
background: linear-gradient(95.54deg, #FFFFFF -1.5%, #88AFFA 93.51%);
box-shadow: 0px 4px 90px 50px #FFFFFF, inset 150px 5px 30px 2px #0047FF;
border-radius: 20px;
  background-blend-mode: soft-light, normal;
  transition: all 0.65s;

}
.DefaultButton:active {
  position: relative;
  top: 3px;
}

.settingsbutton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  position: relative;
  width: 250px;
  height: 73px;
  background: rgba(255, 255, 255, 0.28);
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 0.9s;
}
.settingsbutton:hover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  position: relative;
  width: 900px;
  height: 73px;
  background: rgba(255, 255, 255, 0.781);
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  border: 0.5px solid rgba(255, 255, 255, 0.822);
  box-sizing: border-box;
  box-shadow: 0px 5px 20px 20px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  	transition: all 0.65s;
    color: black;
}
.settingsbutton:active {
  position: relative;
  top: 3px;
    background: rgba(255, 255, 255, 0.781);
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  border: 0.5px solid rgba(255, 255, 255, 0.822);
  box-sizing: border-box;
  box-shadow: 0px 5px 20px 20px rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  	transition: all 0.65s;
    color: black;
}


.EffectButton {
background: linear-gradient(180deg, #00F0FF 9.7%, #0047FF 100%);
border: 0.5px solid rgba(48, 48, 48, 0.5);
box-sizing: border-box;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 20px 40px rgba(23, 0, 102, 0.2);
backdrop-filter: blur(30px);
/* Note: backdrop-filter has minimal browser support. Should work on the PinePhone though*/
border-radius: 20px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 21px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff9a;
  opacity: 0.9px;
  transition: all 0.65s;

}
.EffectButton:hover {
  background: linear-gradient(180deg, #0047FF 9.7%, #00F0FF 100%);
  background-color: #ffffff;
  box-shadow: 0px 0px 14px 17px #ffffff;
  transition: all 0.65s;
}
.EffectButton:active {
  position: relative;
  top: 3px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.DownloadButton {
  box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px #A6ABBD;
  background-color: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #15ff00;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #15fa009a;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 30px;
  text-decoration: none;
  background-blend-mode: soft-light, normal;
}
.DownloadButton:hover {
  background: #15fa009a;
  background-color: #00ff2233;
  box-shadow: 0px 30px 14px -7px #ffffff;
}
.DownloadButton:active {
  position: relative;
  top: 3px;
}

.AppButton {
  background: #d1d0d0;
  background-color: #d1d0d0;
  border-radius: 0px;
  display:list-item;
  cursor:pointer;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: lighter;
  padding: 13px 32px;
  text-decoration: none;
  text-align: right;
  box-shadow: -2.5px -2.5px 5px #FAFBFF, 2.5px 2.5px 5px #A6ABBD;
}
.AppButton:hover {
  background: #696969;
  background-color: #1100ff;
  box-shadow: 0px 1px 14px -7px #888787;
}
.app__icon {
    font-size: 18px;
}

.NavigationButton {
  box-shadow: -15px -15px 30px #fafbff6e, 15px 15px 30px #A6ABBD;
  background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: sans-serif;
  font-size: 15px;
  font-weight:normal;
  padding: 11px 30px;
  text-decoration: none;
  background-blend-mode: soft-light, normal;
  
}
.NavigationButton:hover {
  background: linear-gradient(317.7deg, rgb(0, 0, 0) 0%, rgba(131, 131, 131, 0.582) 105.18%), #E7EBF0;
  box-shadow: inset -15px -15px 30px #FAFBFF, inset 15px 15px 30px #A6ABBD;
  background-blend-mode: soft-light, normal;
}
.NavigationButton:active {
  position: relative;
  top: 3px;
}

/* Container holding images and texts */
.container {
  position: relative;
  text-align: center;
  color: rgb(226, 209, 209);
}

.bottom-left {
  position: absolute;
  bottom: 9px;
  left: 15px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.loadinginside {
  position: absolute;
  top: 25px;
  left: 25px;
}
.loadinginside {
  z-index: 1;
}
